div{
   
    font-family: "Lato";

}
/*
.my-header{
   
    background-color:darkolivegreen;
    color:ghostwhite;
    padding: 10px;
    text-align: center;
    margin: auto;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
   

}
.my-form{
	
	max-width: 400px;
	padding: 10px;
	margin: auto;
	border: 1px solid black;
	margin-bottom: 20px;
	margin-top: 20px;
}
.my-table{
    font-family: "Lato";
	padding: 10px;
	margin: auto;
	border: 1px solid black;
	margin-bottom: 20px;
	margin-top: 20px;
}
.my-button{
    background-color:darkolivegreen;
	color: ghostwhite;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
}

*/
