<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
<head>
    <meta charset="UTF-8">
    <title>FSF Day 6 </title>
    <!--Stylesheets-->
    <link rel="stylesheet"  type="text/css" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/stylesheet.css">
    <!--Jquery Scripts-->
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <!--Load app-->
    <script src="/index.js"></script>

</head>
<body ng-controller="CartCtrl as cartCtrl">
    <div class="container">
        <h1>My Shopping Cart</h1> 
        <form name="itemForm" ng-submit="cartCtrl.addToBasket()">
            <div class="form-group">
                <label for="item">Item:</label>
                <input type="text" placeholder="Please enter text" name="item" id="item"
                    class="form-control" required
                    ng-model="cartCtrl.item">
                <span id="helpBlock" class="help-block" 
                    ng-hide="itemForm.item.$valid">
                    Please enter you item here</span>
            </div>

            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" placeholder="Please enter text" name="quantity"
                    class="form-control" required min="1"
                    ng-model="cartCtrl.quantity" >
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success form-control"
                    ng-disabled="itemForm.$invalid">
                    Add to Cart <i class="fa fa-shopping-cart"></i></button>
                
            </div>

        </form>

        <h2>Contents</h2>
        <form class="form-inline">
            <div class="form-group">
                <label for="filter">Filter:</label>
                <input type="text" name="filter" id="filter" 
                    class="form-control" size="50"
                    ng-model="cartCtrl.filterText">
            </div>
        </form>


        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in cartCtrl.basket | filter:{item:cartCtrl.filterText}">
                    <td> {{$index}} {{i.item | uppercase}}</td>
                    <td>{{i.quantity | currency}} </td>
                    <td>
                        <button type="button" class="btn btn-default" 
                                ng-click="cartCtrl.removeFromBasket(i.item)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                    </td>
                </tr>
            </tbody>
     </div>
</body> 
</html>